<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form>
      <h2>Enter your phrase:<%= :user_phrase %></h2>
    </form>
  
  </body>
</html>